@import "tailwindcss";
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('/fonts/Merriweather/Merriweather-VariableFont_opsz\,wdth\,wght.ttf')
        format('truetype');
}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf')
    format('truetype');
}

@theme{
    --color-primary: #2e4a42;
    --color-secondary: #6b8e23;
    --color-accent: #a2c579;
    --color-background: #e3f2e1;

    --font-primary: 'Cormorant Garamond', serif;
    --font-secondary: 'Inter', sans-serif;

}